*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eaeef0;

}
.scene{
    position: relative;
    width: 550px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.9),    8px 8px 25px rgba(0,0,0,0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.sun{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 40px;
    right: 40px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 0 40px #ffff12,
    0 0 60px #ffff5b,
    0 0 80px #ffff5b,
    0 0 100px #ffff5b
    ;
}
.road{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(36, 34, 34);

}
.road::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: green;
    

}
.road::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background:repeating-linear-gradient(90deg,transparent 0,transparent 50%,#fff 50%, white 100%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-size: 20px;
    animation: animateRoad 0.2s linear infinite;
    -webkit-animation: animateRoad 0.2s linear infinite;
}
@keyframes animateRoad {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -20px;
    }
}
.fa-van-shuttle{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 3.5em;
    -webkit-text-stroke: 2px black;
    z-index: 10;
    animation: animateVan 0.2s linear infinite;
    -webkit-animation: animateVan 0.2s linear infinite;
}
@keyframes animateVan {
    0%,100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
50%{
    transform: translateY(5%);
    -webkit-transform: translateY(5%);
    -moz-transform: translateY(5%);
    -ms-transform: translateY(5%);
    -o-transform: translateY(5%);
}
}
.fa-cloud{
    position: absolute;
    top: calc(15px *var(--i));
    left: calc(15px *var(--i));
    font-size: 2.5em;
    color: white;
    -webkit-text-stroke: 2px black;
    z-index: 1;
    animation: animateClounds 3.42s linear infinite;
    -webkit-animation: animateClounds 3.42s linear infinite;
    animation-delay: calc(-1s*var(--i));
}
@keyframes animateClounds {
    0%{
       transform: translateX(350px);
       -webkit-transform: translateX(350px);
       -moz-transform: translateX(350px);
       -ms-transform: translateX(350px);
       -o-transform: translateX(350px);
}
    100%{
        transform: translateX(-350px);
        -webkit-transform: translateX(-350px);
        -moz-transform: translateX(-350px);
        -ms-transform: translateX(-350px);
        -o-transform: translateX(-350px);
}
    
}
.fa-tree{
    position: absolute;
    bottom: 60px;
    font-size: 2em;
    z-index: 2;
    color: green;
    animation: animateClounds 7s linear infinite;
    -webkit-animation: animateClounds 7s linear infinite;
    animation-delay: calc(-1s*var(--i));
}
.fa-mountain{
    position: absolute;
    bottom: 0;
    font-size: 10em;
    color: brown;
    animation: animateClounds 15s linear infinite;
    -webkit-animation: animateClounds 15s linear infinite;
    animation-delay: calc(-3s*var(--i));
}
/* #clund{
    bottom: 0;
    right: 45px;
} */