*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */
body{
    background: #56baed;
    
    
}
.select-box,.play-board,.result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);


}
.select-box{
    
     background: white;
     padding: 20px 25px 25px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     max-width: 330px;
     width: 100%;
     display: none;
}
.select-box header{
    font-size: 23px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(32, 32, 31);

}
.select-box .title{
    font-size: 18px;
    font-family: 500;
    margin: 20px 0;

}
.select-box .options{
    display: flex;
    width: 100%;

}
.options button{
    width: 100%;
    font-size: 18px;
    font-weight: 599;
    padding: 8px 0;
    border: none;
    outline: none;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(5, 5, 5);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.options button:hover,
.result-box .btn button:hover{
    transform: scale(0.92);
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
}
.options button.playerX{
margin-left: 5px;
}
.options button.playerO{
    margin-left: 5px;

}
.play-board{
display: none;
}
.play-board .details{
    background: white;
    padding: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.play-board .play-area{
    margin-top: 20px;

}
.play-board .details .players{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.play-board .details span{
    /* background: blue; */
    color: #56baed;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 7px 0;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 5;

 
}
.details span:first-child{
    color: white;
}
.details .slider{
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 50%;

    background: #56baed;
    border: 5px;
    z-index: 2;

}
.play-board section{
    display: flex;
}
.play-board section span{
    display: block;
    margin: 2px;
    height: 80px;
    width: 80px;
    background: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 45px;
    text-align: center;
    line-height: 80px;
    color: #56baed;
}


.result-box{
    background: white;
    padding: 20px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 350px;
    width: 100%;
}
.result-box .won-txt{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;

}
.result-box .won-txt p{
  font-weight: 600;
  margin: 0 5px;
 
}
.result-box .btn{
    display: flex;
    justify-content: center;
   margin-top: 10px;
}
.result-box .btn button{
  
    font-size: 18px;
    font-weight: 599;
    padding: 8px 25px;
    border: none;
    outline: none;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(5, 5, 5);
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}