*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: lightblue;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;

}
.container{
position: relative;
width: 100%;
max-width: 1000px;
min-height: 1000px;
background: #fff;
display: grid;
grid-template-columns: 1fr 2fr;
box-shadow: 0 35px 55px rgba(0,0,0,0.1);
margin: 50px;



}
.container .left_Side{
    position: relative;
    background: #e5eef2;
    padding: 40px;
    

}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx{
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
overflow: hidden;
}
.profileText .imgBx img{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    
   object-fit: cover;
   
}
.profileText h2{
    color: rgb(42, 40, 40);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText span{
   color: rgb(34, 32, 32);
    font-size: 0.8em;
    font-weight: 700;


}
.contactInfo{
    padding-top: 10px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px 50px;

}
.title{
    color: rgb(46, 44, 44);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}
.contactInfo ul{
    position: relative;

}
.contactInfo ul li{
    position: relative;

    list-style: none;
    margin: 10px 0px;
    cursor: pointer;

}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;

}
.contactInfo ul li span{
    color: rgb(30, 29, 29);
    font-weight: 300;


}
.contactInfo.education li{
    margin-bottom: 15px;
pointer-events: ;

}
.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 600;
}
.contactInfo.education h4:nth-child(2){
    color: rgb(34, 33, 33);
    font-weight: 500;

}
.contactInfo.education h4{
    color: rgb(46, 44, 44);
    font-weight:300;

}
.container .right_Side{
    position: relative;
    background: rgb(240, 238, 238);
    padding: 40px;


}
.about{
    margin-bottom: 30px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;



}
p{
    color: #333;

}
.rot .we{
    font-size: 20px;
    color: rgb(37, 36, 36);
    font-weight: bold;
    
}
.rot{
    margin-top: 10px;

  
    

}
.jut{
    font-size: 14px;
}
.interest ul{
   display: grid;
   grid-template-columns: repeat(2,1fr);


}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px;
}
.interest ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width:24px;
    margin-right: 5px;
}

.Anchor{
    text-decoration: none;
  
}
.Anchor:hover{
    text-decoration: underline;
    color: rgb(27, 26, 26);
}