*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.container{
    left: -180px;
    position: relative;

 display: flex;
 justify-content: center;
 align-items: center;

}
.container .cigarette{
    transform-style: preserve-3d;
    animation: animate 15s linear infinite;

    -webkit-animation: animate 15s linear infinite;
}
@keyframes animate {
    0%{
        transform: perspective(1000px) rotateX(0deg);
        -webkit-transform: perspective(1000px) rotateX(0deg);
        -moz-transform: perspective(1000px) rotateX(0deg);
        -ms-transform: perspective(1000px) rotateX(0deg);
        -o-transform: perspective(1000px) rotateX(0deg);
}
100%{
    transform: perspective(1000px)rotateX(360deg);
    -webkit-transform: perspective(1000px)rotateX(360deg);
    -moz-transform: perspective(1000px)rotateX(360deg);
    -ms-transform: perspective(1000px)rotateX(360deg);
    -o-transform: perspective(1000px)rotateX(360deg);
}
    
}
.container .cigarette span{
    position: absolute;
    color: white;
    font-size: 1.35em;
    transform: translate(-50%,-50%) rotateX(calc(var(--i) * 36deg)) translateZ(25px);
    -webkit-transform: translate(-50%,-50%) rotateX(calc(var(--i) * 36deg)) translateZ(25px);
    -moz-transform: translate(-50%,-50%) rotateX(calc(var(--i) * 36deg)) translateZ(25px);
    -ms-transform: translate(-50%,-50%) rotateX(calc(var(--i) * 36deg)) translateZ(25px);
    -o-transform: translate(-50%,-50%) rotateX(calc(var(--i) * 36deg)) translateZ(25px);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 0.76em;
    text-shadow: 0 2px 5px rgba(0,0,0,0.25);
    background: rgba(0,0,0,0.25);
}
.container .cigarette span i{
    font-style: normal;
    color: #ec9535;

}
.container .cigarette span i:first-child:after {
    content:"l";
    color: #ccc;
    text-transform: lowercase;


}
.container .cigarette span i:last-child{
    color: #f00;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    font-size: 30px;
    text-shadow: -4px 0 2px #000,
    8px 0 20px #f00,
    8px 0 24px #f00,
    8px 0 0 #222,
    12px 0 #555,
    16px 0 #666,
    20px 0 #888,
    24px 0 #999;
  
}
.vapour{
    position: relative;
    display: flex;
   
    z-index: 1;
    padding: 0 10px;
}
.vapour span{
    position: relative;
    bottom: 50px;
    left:20rem;
    display: block;
    margin: 0 2px 60px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: animate 5s linear infinite;
    -webkit-animation: animatee 5s linear infinite;
    opacity: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    animation-delay: calc(var(--j) * -0.5s);
}
@keyframes animatee {
    0%{
      transform: translateY(0) scaleX(1);
      -webkit-transform: translateY(0) scaleX(1);
      -moz-transform: translateY(0) scaleX(1);
      -ms-transform: translateY(0) scaleX(1);
      -o-transform: translateY(0) scaleX(1);
      opacity: 0;
    
}
15%{
    opacity: 1;
}
    50%{
      transform: translateY(-150px) scaleX(5);
      -webkit-transform: translateY(-150px) scaleX(5);
      -moz-transform: translateY(-150px) scaleX(5);
      -ms-transform: translateY(-150px) scaleX(5);
      -o-transform: translateY(-150px) scaleX(5);
}
95%{
    opacity: 0;
}
    100%{
      transform: translateY(-300px) scaleX(10);
      -webkit-transform: translateY(-300px) scaleX(10);
      -moz-transform: translateY(-300px) scaleX(10);
      -ms-transform: translateY(-300px) scaleX(10);
      -o-transform: translateY(-300px) scaleX(10);
}
    
}